html, body {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #e9f1f9;
}

.top_menu {
    height: 100px;
    background: #154fb5;
}

.title {
    width: 350px;
    /*line-height: 100px;*/
    font: normal 30px/100px 微软雅黑;
    color: #ffffff;
    text-align: center;
    float: left;
}

.menu_list li {
    cursor: pointer;
    width: 120px;
    float: left;
    list-style: none;
    font: normal 20px/100px 微软雅黑;
    color: #ffffff;
    text-align: center;
    margin-right: 50px;
}

.menu_list li:hover {
    background-color: #377ffc;
}

.logout {
    cursor: pointer;
    width: 50px;
    height: 40px;
    font: normal 16px/40px 微软雅黑;
    color: #ffffff;
    margin: 30px;
    float: right;
    background: #0066DD;
    border: 0;
    border-radius: 4px;
}

.logout:hover {
    background: #49a0ff;
}

.left_menu {
    position: relative;
    top: 20px;
    left: 0;
    width: 300px;
    height: 800px;
    background: white;
}
.left_menu img{
    margin-left: 100px;
}
.l_option {
    cursor: pointer;
    text-indent: 50px;
    /*height: 63px;*/
    font: normal 22px/63px 宋体;
    border-bottom: 1px #e0e0e0 solid;
    /*background-image: url('../image/ico10.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 240px;*/
}

.l_option:hover {
    background: #89d2ff;
    /*background-image: url('../image/ico10.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 240px;*/
}
#i1,#i2,#i3,#i4,#i5{
    width: 299px;
    color: blue;
    background: #dbe0ff;
    border-right: 1px solid white;
    font: normal 16px/40px "Microsoft JhengHei";
}
#i1 li:hover,#i2 li:hover,#i3 li:hover,#i4 li:hover,#i5 li:hover{
    text-decoration: underline blue;
}
.left_title {
    height: 100px;
    background: #0077CC;
    color: #fff;
    line-height: 100px;
    padding-left: 55px;
    font-size: 26px;
}

/*.arrow {*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*display: inline-block;*/
    /*border-top: 1px solid gray;*/
    /*border-right: 1px solid gray;*/
    /*transform: rotate(-45deg);*/
    /*margin-left: 100px;*/
/*}*/

/*.arrow:hover {*/
    /*transform: rotate(135deg);*/
/*}*/

.project_option {
    position: absolute;
    top: 120px;
    left: 320px;
    background: white;
    width: calc(100% - 340px);
    height: 1200px;
    margin: auto 10px 20px auto;
}

.option_list {
    margin: 25px 53px;
}

.option_list li {
    width: 300px;
    height: 226px;
    float: left;
    border: 1px solid #e0e0e0;
    margin: 0 25px 25px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 #e0e0e0;
}

.option_list li:hover {
    transform: translate(-2px, -2px);
}

.li_project {
    height: 63px;
    background: #daedff;
    text-align: center;
    font: normal 18px/63px 微软雅黑;
}

.li_font {
    font: normal 18px/36px 微软雅黑;
    color: gray;
    text-align: center;
    height: 36px;
}

.del_btn {
    width: 128px;
    height: 50px;
    margin: 20px 88px 26px 88px;
    background: #2f6ddc;
    border-radius: 30px;
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
}

.del_btn:hover {
    background: #49a0ff;
}

.li_project_add {
    cursor: pointer;
    border: 1px solid;
    width: 100px;
    height: 100px;
    color: #ccc;
    transition: color .25s;
    position: relative;
}

.li_project_add::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    margin-left: -40px;
    margin-top: -5px;
    border-top: 5px solid;
}

.li_project_add::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80px;
    margin-left: -5px;
    margin-top: -40px;
    border-left: 5px solid;
}
#tk{
    width: 400px;
    height: 385px;
    position: fixed;
    top: 10%;
    margin-left: calc((100% - 400px) / 2);
    background: white;
    border: 1px solid rgba(145, 145, 145, 0.73);
    border-radius: 8px;
}
.hide{
    display: none;
}
.add_pro{
    font: bold 20px/20px "Microsoft JhengHei";
    color: blue;
    margin-left: 120px;
}
.add_pro img{
    margin-left: 117px;
}
.tk_context{
    /*width: 300px;*/
    position: relative;
    left: 35px;
    top: 10px;
}
.pro{
    font: bold 18px/16px "Microsoft JhengHei";
    color: blue;
    margin: 10px auto;

}
.pro_inp{
    border: #0033cc 1px solid;
    border-radius: 5px;
    width: 250px;
}
.tk_btn{
    background: #0033cc;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 10px;
    outline: none;
    border: 0;
    cursor: pointer;
    margin-left: 120px;
}
#ta{
    border-radius: 6px;
    border: 1px solid #0033cc;
    margin-top: 10px;
}